.container{
    width: 90%;
    margin-left: 6vw;
    margin-right: 0;
    max-width: 2000px;
}
.first-screen{
    background-image: url(../img/1.png), url(../img/2.png);
    background-repeat: no-repeat;
    background-size: 100% 96%, 100% 99%;
    &__text{
        h1{
            font-family: "Proxima Nova Extrabold", sans-serif;
            font-size: 72px;
            line-height: 84px;
        }
        color: white;
        margin-top: 177px; 
        span{
            font-size: 18px;
            line-height: 21px;
        }
    }
    &__image{
        text-align: right;
        padding-right: 10vw;
        img{
            margin-top: 88px;
        }
        color: white;
    }
    &__button-go{
        line-height: 16px;
        padding-top: 15px;
        padding-bottom: 15px; 
        margin-top: 35px;
        vertical-align: middle;
        width: 140px;
        text-align: center;
        background-color: #5935E9;
        border: 1px solid #5935E9;
        border-radius: 50px;
        margin-right: 23px;
    }
    &__scroll-for-more{
        margin-top: 205px;
        margin-bottom: 100px;
        display: flex;
        margin-bottom: 162px;
        span{
            font-size: 12px;
            line-height: 12px;
        }
    }
    &__scrol{
        display: flex;
    }
}
.scrol{
    &__first-circle{
        margin-bottom: 152px;
        margin-top: 90px;
        margin-left: 30vw;
        background-color: rgba(41, 41, 60, 0.3);
        width: 60px;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
        border-radius: 50%;
    }
    &__second-circle{
        text-align: center;
        margin-left: 10px;
        background-color: #29293C;
        width: 40px;
        padding-bottom: 10px;
        padding-top: 10px;
        border-radius: 50%;
        font-size: 12px;
    }
    &__line{
        width: 80px;
        height: 2px;
        background-color: #373746;
        margin-top: 117px;
        margin-left: 17px;
        &_active{
            width: 64px;
            text-align: left;
            background-color: #5935E9;
        }
    }
    &__other-pages{
        margin-top: 107px;
        margin-left: 4px;
        span{
            font-size: 12px;
            margin-left: 10px;
            color: #373746;
        }
    }
}