.footer{
    background-image: url(../img/footer1.png), url(../img/footer2.png);
    background-repeat: no-repeat;
    background-size: 100% 96%, 100% 105%;
    background-position: right 45px bottom -26px;
    width: 100%;
    height: 500px;
    li{
        cursor: pointer;
    }
    &__container{
        color: #B0B0C7;   
        padding-top: 190px;
        padding-left: 120px;
        display: flex; 
    }
    &__element{
        margin-top: 16px;
        font-size: 16px;
        &_first{
            color: white;
            font-size: 10px;
            font-family: $bold-font-proxima;
            img{
                margin-right: 10px;
            }
            &-title{
                font-size: 22px;
                color: white;
            }
        }     
        &_subscribe{
            margin-top: 126px;
            margin-bottom: 21px;
            font-size: 18px;
        }
        &_socials{
            img{
                margin-right: 24px;
            }
        }
        &_copyright{
            font-size: 14px;
            color: #4F4F64;
            margin-top: 87px;
            margin-left: 50px;
        }
    }
    .column{
        &-first{
            width: 25vw;
        }
        &-second{
            width: 15vw;
        }
        &-third{
            width: 15vw;
        }
    }
}