.fourth-screen{
    &__vectors{
        margin-top: 68px;
        text-align: right;
    }
    .title-rigth{
        color: #191927;
        font-size: 48px;
        line-height: 56px;
        margin-top: 87px;
        margin-left: 5%;
        font-family: "Proxima Nova Extrabold", sans-serif;
    }
    &__article{
        margin-left: 4%;
        width: 350px;
        &-image{
            background-image: url('../img/article-1.png');
            background-size: 100% 100%;
            background-repeat: no-repeat;
            width: 380px;
            height: 165px;
            padding-bottom: 160px;
            padding-top: 50px;
            padding-left: 60px;
            color: white;
            span{
                background-color: #6500FC;
                padding-top: 5px;
                padding-bottom: 5px;
                padding-right: 13px;
                padding-left: 13px;
                font-size: 12px;
                border-radius: 6px;
            }
        }
        &-text{
            h3{
                font-size: 18px;
                font-family: "Proxima Nova Extrabold", sans-serif;
            }
            margin-left: 8%;
        }
    }
}