.header{
    width: 100%;
    background-color: #191927;
    &__inner{
        font-family: "Proxima Nova", sans-serif;
        padding-top: 33px;
        width: 90%;
        margin: auto;
        font-size: 14px;
        line-height: 16px;
        color: white;
        padding-bottom: 10px;
    }
    &__element{
        display: inline-block;
        margin-left: 3%;
        cursor: pointer;
    }
    &__name{
        margin-right: 3vw;
    }
    &__select-language{
        margin-left: 0;
    }
    &__sign-in, &__register{
        padding-left: 39px;
        padding-right: 39px;
        padding-bottom: 15px;
        padding-top: 15px;
        border-radius: 50px; 
        border: 1px solid white;
        margin-left: 20vw;
    }
    &__register{
        margin-left: 1vw;
        background-color: #5935E9;
        border: 1px solid #5935E9;
        margin-right: 23px;
    }
    &__inner{
        margin-left: 0%;
        margin: auto;
    }
}