.second-screen{
    &__text{
        .title-rigth{
            color: #191927;
            font-size: 48px;
            line-height: 56px;
            margin-top: 90px;
            font-family: "Proxima Nova Extrabold", sans-serif;
        }
        img{
            margin-bottom: 20px;
        }
        span{
            color: #666666;
            font-size: 18px;
            line-height: 21px;
        }
    }
    &__image{
        margin-top: 77px;
        text-align: right
    }
    &__button-register{
        line-height: 16px;
        padding-top: 15px;
        padding-bottom: 15px; 
        margin-top: 35px;
        vertical-align: middle;
        width: 140px;
        text-align: center;
        background-color: #5935E9;
        border: 1px solid #5935E9;
        border-radius: 50px;
        margin-right: 23px;
        color: white;
    }
    &__down{
        margin-top: 90px;
        span{
            margin-left: 17px;
            font-weight: 900;
            font-family: "Proxima Nova Extrabold", sans-serif;
        }
        img{
            padding: 20px;
            border: 3px solid #5935E9;
            border-right: 3px solid #666666;
            border-top: 3px solid #666666;
            border-radius: 50%;
            margin-bottom: 10px;
        }
    }
}    