.third-screen{
    margin-top: 153px;
    h2{
        text-align: center;
        font-size: 48px;
        font-family: "Proxima Nova Extrabold", sans-serif;
    }
    &__desc{
        font-size: 18px;
        line-height: 23px;
        text-align: center;
        margin-top: 42px;
        color: #666666;
    }
    &__numbers{
        display: flex;
        margin: auto;
        width: 1040px;
        margin-top: 93px;
    }
    &__number{
        padding: 15px;
        height: 65px;
        width: 70px;
        text-align: center; 
        border-radius: 50%;
        box-shadow: 4px 4px 8px 8px rgba(0, 0, 0, 0.1);
        font-size: 24px;
    }
    &__line{
        margin-top: 30px;
        margin-left: 57px;
        margin-right: 57px;
        width: 300px;
        height: 2px;
        background-color: #DBDBDB;
    }
    &__container{
        margin-top: 100px;
        text-align: center;
        h3{
            font-size: 28px;
            margin-top: 41px;
            margin-bottom: 13px;
            font-family: "Proxima Nova Extrabold", sans-serif;
        }
        span{
            font-size: 18px;
            line-height: 21px;
            color: #666666;
        }
    }
    &__button{
        font-size: 18px;
        color: #6500FC;
        border: 1px solid #6500FC;
        border-radius: 30px;
        padding-top: 18px;
        padding-bottom: 18px;
        padding-left: 48px;
        padding-right: 48px;
        width: 372px;
        margin: auto;
        margin-top: 60px;
        img{
            margin-left: 10px;
        }
    }
}