@import "vars";
@import "fonts";
@import "libs";
@import "mixins";
@import "navbar";
@import "first-screen";
@import "second-screen";
@import "third-screen";
@import "fourth-screen";
@import "footer";


html,
body {
	height: 100%;
}

body {
	min-width: 320px;
	position: relative;
	font-family: $font-proxima;
	overflow-x: hidden;
	color: $body-color;
	line-height: normal;
	input,
	textarea,
	button {
		outline: none;
	}
}

ul,
li {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
	margin: 0;
}

a {
	color: inherit;
	&:hover {
		text-decoration: none;
		color: inherit;
	}
}

p, label {
	margin: 0;
	padding: 0;
}

img{
	max-width: 100%;
	height: auto;
}

.slick-slide{
	outline: 0 !important;
}

.page-inner {
	height: 100%;
	display: flex;
	flex-direction: column;
}

.page-content {
	flex-grow: 1;
}

.footer{
  flex-shrink: 0;
}